[*]
charset = utf-8
insert_final_newline = true
end_of_line = crlf
indent_style = space
indent_size = 2
max_line_length = 100
trim_trailing_whitespace = true
ij_visual_guides = none
ij_wrap_on_typing = true

[*.html]
ij_html_enforce_quotes = true
ij_html_quote_style = double

[{*.ats,*.cts,*.mts,*.ts}]
ij_typescript_force_quote_style = true
ij_typescript_use_double_quotes = false
ij_typescript_force_semicolon_style = true
ij_typescript_indent_chained_calls = true
ij_typescript_chained_call_dot_on_new_line = true
ij_typescript_enforce_trailing_comma = whenmultiline
ij_typescript_use_semicolon_after_statement = true

[*.properties]
ij_properties_align_group_field_declarations = false
ij_properties_keep_blank_lines = false
ij_properties_key_value_delimiter = equals
ij_properties_spaces_around_key_value_delimiter = false